@font-face {
	font-family: 'dearestregular';
	src: url('/fonts/Dearest-webfont.eot');
	src: url('/fonts/Dearest-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Dearest-webfont.woff') format('woff'), url('/fonts/Dearest-webfont.ttf') format('truetype'), url('/fonts/Dearest-webfont.svg#dearestregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: url(../img/bg.jpg) no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 150px;
}

blockquote span {
	display: block;
	text-align: right;
	font-style: italic;
}

.home p::first-letter {
	font-family: 'dearestregular';
	font-size: 3em;
}

.home p {
	line-height: 1.5em;
	margin-bottom: 50px;
}

.gallery .wrap {
	float: left;
	width: 20%;
}

.gallery .wrap .cell {
	width: 98%;
	margin: auto;
	margin-bottom: 5px;
	position: relative;
	background: #0F0;
}

.gallery .wrap .cell img {
	width: 100%;
	height: auto;
	display: block;
}

.selected {
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}

@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
		opacity: 0.7;
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity: 0.5;
	}
}

@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
		opacity: 0.7;
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity: 0.5;
	}
}

.page-footer {
	background-color: #444;
	color: #FFF;
}

.page-footer a {
	color: #FFF;
}
